## Data structure Introduction

In [ ]:
#what ?

#How to store multiple data/values effectively

a = 10

b = 20

c = "True"


val = [10 , 20, "True", 20.99]

In [ ]:
#BAsic

#Heterogenous ===> it can store more than one data type in a single var/data

#List

#[]
#ordered or indexed data structure
#Mutable
#Allows duplicates
#Concatenation is supported


#Tuple

#() or without braces
#ordered or indexed data structure
#Immutable
#Allows duplicates
#Concatenation is supported



#Set

#{}
#ordered or indexed data structure not supported
#Mutable
#Dont Allows duplicates
#Concatenation is not supported


#Dictionary

#{key:value}
#ordered or indexed data structure not supported
#Mutable
#Dont Allows duplicates keys but duplicate values are possible
#Concatenation is not supported

## List Methods

In [9]:
#How to create an empty list

li1 = list() #inbuilt function

print(li1)
print(type(li1))

li1 = [] #inbuilt function

print(li1)
print(type(li1))

[]
<class 'list'>
[]
<class 'list'>

In [13]:
Li1 = [1,2,3,4, "Python", "c", True, 3]

print(Li1[-1])

print(Li1[-3])

print(Li1)

3
c
[1, 2, 3, 4, 'Python', 'c', True, 3]

In [14]:
#concatenation

Li1 = [1,2,3,4]
Li2 = ["true", False, "python", 3,4,5,10]

print(Li1 + Li2)

[1, 2, 3, 4, 'true', False, 'python', 3, 4, 5, 10]

In [15]:
#Append

Li1 = [4,5,6,7,1,2]

print(Li1)

Li1.append(100)

print(Li1)

[4, 5, 6, 7, 1, 2]
[4, 5, 6, 7, 1, 2, 100]

In [16]:
#Insert

Li1 = [4,3,5,6,2]

Li1.insert(2,"python") #(index, value)

print(Li1)

[4, 3, 'python', 5, 6, 2]

In [20]:
#remove

Li1 = [4,5,6,3,2]

Li1.remove(2) #value to be removes

print(Li1)

[4, 5, 6, 3]

In [19]:
#pop

Li1 = [5,6,3,2,1]

Li1.pop() #Last element removal

print(Li1)

Li1.pop(1) #list index based removal

print(Li1)

[5, 6, 3, 2]
[5, 3, 2]

In [21]:
#extend

Li1 = [3,4,5,6]

Li2 = ["python", 9,8,3,2]

Li1.extend(Li2)

print(Li1)

[3, 4, 5, 6, 'python', 9, 8, 3, 2]

In [23]:
#index

Li1 = [5,4,3,6,7,2]

print(Li1.index(7))
print(Li1.index(0))

4

ValueError: 0 is not in list

In [24]:
#Count 

Li1 = [4,5,6,3,2,1,1,3]

print(Li1.count(3))

2

In [25]:
#clear

Li1 = [5,4,3,2,1]

Li1.clear()

print(Li1)

[]

In [27]:
#replacement

Li1 = [5,4,3,2,0]

Li1[2] = 10

print(Li1)

[5, 4, 10, 2, 0]

In [31]:
#copy

#Shallow copy
Li1 = [4,5,3,2,0]
Li2 = Li1

print(Li1)
print(Li2)

Li1[3] = 100

print(Li1)
print(Li2)

print(id(Li1))
print(id(Li2))

[4, 5, 3, 2, 0]
[4, 5, 3, 2, 0]
[4, 5, 3, 100, 0]
[4, 5, 3, 100, 0]
2583433963144
2583433963144

In [32]:
#Deep copy
Li1 = [4,5,3,2,0]
Li2 = Li1.copy()

print(Li1)
print(Li2)

Li1[3] = 100

print(Li1)
print(Li2)
print(id(Li1))
print(id(Li2))

[4, 5, 3, 2, 0]
[4, 5, 3, 2, 0]
[4, 5, 3, 100, 0]
[4, 5, 3, 2, 0]
2583433963272
2583433965128

In [33]:
#min max sum len 


Li1 = [4,5,3,6,2]

print(len(Li1))
print(min(Li1))
print(max(Li1))
print(sum(Li1))

5
2
6
20

In [35]:
#del

Li1 = [3,4,5,6,7,10]

del Li1[3:]

print(Li1)

del Li1

print(Li1)

[3, 4, 5]

NameError: name 'Li1' is not defined

In [38]:
#sort

Li1 = [4,5,6,7,10,3,2,-1]

Li1.sort() #ascending

print(Li1)

Li1.sort(reverse=True) #descedning

print(Li1)

[-1, 2, 3, 4, 5, 6, 7, 10]
[10, 7, 6, 5, 4, 3, 2, -1]

In [39]:
#reverse

Li = [5,6,100,1000,0,10]

Li.reverse()

print(Li)

[10, 0, 1000, 100, 6, 5]

https://www.w3schools.com/python/python_lists.asp
https://www.w3schools.com/python/python_lists_methods.asp

## Tuple Methods

In [41]:
#creation of empty tuple

tup1 = ()

print(tup1)
print(type(tup1))

tup1 = tuple()

print(tup1)
print(type(tup1))

()
<class 'tuple'>
()
<class 'tuple'>

In [43]:
val = (10,)

print(val)
print(type(val))

(10,)
<class 'tuple'>

In [44]:
val = 10,20,30

print(val)
print(type(val))

(10, 20, 30)
<class 'tuple'>

In [45]:
#Immutable

tup1 = (10,20,30)

tup1[0] = 100

print(tup1)

TypeError: 'tuple' object does not support item assignment

In [46]:
#Concatenation

tup1 = (3,4,5,6)
tup2 = ("10", 30, False)

print(tup1 + tup2)

(3, 4, 5, 6, '10', 30, False)

In [47]:
#index

tup1 = (4,5,6,7,10)

print(tup1.index(5))

1

In [48]:
#count

tup1 = (4,5 ,6, 10,1,1,1,2,2)

print(tup1.count(2))

2

In [49]:
#len min max sum

print(len(tup1))
print(min(tup1))
print(max(tup1))
print(sum(tup1))

9
1
10
32

## Set methods

In [51]:
#creation of empty set

val = set()

print(val)
print(type(val))

set()
<class 'set'>

In [52]:
#does not allow duplicates

val = {4,5,6,1,2,3,4,-1,-2,3}

print(val)

{1, 2, 3, 4, 5, 6, -2, -1}

In [53]:
val = {4,5,6,1,2,3,4,-1,-2,3}

print(val[0])

TypeError: 'set' object is not subscriptable

In [54]:
#concatenation not supported

set1= {3,4,5,6}

set2 = {10, 20,3,4,5}

print(set1 + set2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [55]:
#add

set1 = {4,5,6,3,2,1}

set1.add(-5)

print(set1)

{1, 2, 3, 4, 5, 6, -5}

In [57]:
#update

set1 = {3,4,5,2,1}

set2 = {5,6,4,3}

set1.update(set2)

print(set1)

{1, 2, 3, 4, 5, 6}

In [60]:
#remove

set1 = {3,4,5,6,7,1}

set1.remove(7)

print(set1)

set1.remove(0)

print(set1)

{1, 3, 4, 5, 6}

KeyError: 0

In [61]:
#discard

set1 = {3,4,5,6,7,1}

set1.discard(7)

print(set1)

set1.discard(0)

print(set1)

{1, 3, 4, 5, 6}
{1, 3, 4, 5, 6}

In [62]:
#pop random ele removal

set2= {3,4,5,-1,2,6}

set2.pop()

print(set2)

{3, 4, 5, 6, -1}

In [66]:
#clear / copy / del / sum / min /max /len

set1 = {3,4,5}

set1.clear()

print(set1)

set1 = {3,4,5}

print(len(set1))
print(min(set1))
print(max(set1))
print(sum(set1))

set2 = set1.copy()

print(set2)

del set2

print(set2)

set()
3
3
5
12
{3, 4, 5}

NameError: name 'set2' is not defined

In [69]:
#union


set1 = {3,4,5,6}
set2 = {4,5,6,7,10,2}

set3 = set1.union(set2)

print(set3)

{2, 3, 4, 5, 6, 7, 10}

In [70]:
#intersection #intersection update


set1 = {3,4,5,6}
set2 = {4,5,6,7,10,2}

set3 = set1.intersection(set2)

print(set3)


set1 = {3,4,5,6}
set2 = {4,5,6,7,10,2}

set1.intersection_update(set2)

print(set1)

{4, 5, 6}
{4, 5, 6}

In [71]:
#symmetric difference and symmetric difference update

set1 = {3,4,5,6}
set2 = {4,5,6,7,10,2}

set3 = set1.symmetric_difference(set2)

print(set3)


set1 = {3,4,5,6}
set2 = {4,5,6,7,10,2}

set1.symmetric_difference_update(set2)

print(set1)

{2, 3, 7, 10}
{2, 3, 7, 10}

In [73]:
#differnce  difference_update

set1 = {3,4,5,6}
set2 = {4,5,6,7,10,2}

set3 = set2.difference(set1)

print(set3)


set1 = {3,4,5,6}
set2 = {4,5,6,7,10,2}

set1.difference_update(set2)

print(set1)

{2, 10, 7}
{3}

In [76]:
#isdisjoint

set1 ={3,4,5,6}

set2 = {3,2,1}

set3 = {7,8}


print(set1.isdisjoint(set2))
print(set3.isdisjoint(set2))

False
True

In [78]:
#sisubset is uperset

set1 ={3,4,5,6}

set2 = {3,4}

set3 = {7,8}

print(set1.issuperset(set2))
print(set2.issubset(set1))

True
True

## Dictionary Methods

In [80]:
#creation of empty dictionary


a = {}

print(type(a))

a = dict()

print(type(a))


a = {1:20, 2:20, 4:"python"}

print(a)

print(type(a))

<class 'dict'>
<class 'dict'>
{1: 20, 2: 20, 4: 'python'}
<class 'dict'>

In [82]:
#indexing not supperted

a = {1:20, 2:20, 4:"python"}

print(a[0])

#indexing ==> key

KeyError: 0

In [84]:
a = {1:20, 2:20, 4:"python"}

print(a[4])

print(a.get(1))

python
20

In [85]:
a = {1:20, 2:20, 4:"python", 1:100, 5:20}

print(a)

{1: 100, 2: 20, 4: 'python', 5: 20}

In [87]:
#add a element or rplace a element in dictionary

a = {1:20, 2:20, 4:"python", 1:100, 5:20}


a[6] = 600

print(a)

a[1] = 1000

print(a)

{1: 100, 2: 20, 4: 'python', 5: 20, 6: 600}
{1: 1000, 2: 20, 4: 'python', 5: 20, 6: 600}

In [88]:
a = {1:20, 2:20, 4:"python", 1:100, 5:20}


a.update({4:40, 10:20, 30:3})

print(a)

{1: 100, 2: 20, 4: 40, 5: 20, 10: 20, 30: 3}

In [89]:
#pop

a = {1:20, 2:20, 4:"python", 1:100, 5:20}


a.pop(5)

print(a)

{1: 100, 2: 20, 4: 'python'}

In [91]:
#pop item

a = {1:20, 2:20, 4:"python", 1:100, 5:20}


a.popitem()

print(a)

{1: 100, 2: 20, 4: 'python'}

In [92]:
a = {1:20, 2:20, 4:"python", 1:100, 5:20}


print(a.keys())

print(a.values())

print(a.items())

dict_keys([1, 2, 4, 5])
dict_values([100, 20, 'python', 20])
dict_items([(1, 100), (2, 20), (4, 'python'), (5, 20)])

In [95]:
#len sum min max clear copy del


a = {1:20, 2:20, 4:"python", 1:100, 5:20}


print(len(a))
print(min(a))
print(max(a))
print(sum(a))

b = a.copy()

del a

print(b)

b.clear()

print(b)

4
1
5
12
{1: 100, 2: 20, 4: 'python', 5: 20}
{}

## Nested Data structure

In [99]:
Li1 = [10, 20, True, "social science", 20.99, "python"]

#science
#social
#on

print(Li1[3][-7:])

science

In [100]:
li1 = [3,4,5,6,[5,6,7,10]]

print(li1[-1][-3])

6

In [101]:
a = {1:20, 2:20, 4:"python", 3:[10,20,50,4], 5:20}

print(a[3][-1])

4

## Data Structure conversions

In [ ]:
list()

tuple

dict

set()

In [102]:
Li1 = [4,5,6,3,2,1,1,1,7]

print(list(set(Li1)))

[1, 2, 3, 4, 5, 6, 7]

In [103]:
val = {4,5,6,7}

print(tuple(val))

(4, 5, 6, 7)

In [106]:
#dictionary

Li1 = [3,4,5,6,7]

Li2 = [10,20,30,40,50]

val = zip(Li1, Li2)

print(list(val))

val = zip(Li1, Li2)

print(dict(val))

[(3, 10), (4, 20), (5, 30), (6, 40), (7, 50)]
{3: 10, 4: 20, 5: 30, 6: 40, 7: 50}